{% extends 'home/base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel default">
                    <div class="panel-body">
                <form class="form-horizontal" role="form" action="" method="post">
                    {% csrf_token %}
                    <!--include form template here -->
                    <div class="col-md-">
                        <input type="submit" value="Login" class="btn btn-success">
                        <input type="submit" value="Register" class="btn btn-success">
                    </div>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}