{% extends 'home/base.html' %}

<link rel="stylesheet" type="text/css" href="../../static/home/style.css"/>

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="home-wrapper">

                    {% csrf_token %}
                    <!--include form template here -->

                    <div class="form-buttons">

                        <a href="{% url 'login' %}" class="btn btn-block btn-large btn-success" role="button" aria-pressed="true"><p>Login</p></a>
                        <a href="{% url 'register:index' %}" class="btn btn-block btn-large btn-success" role="button" aria-pressed="true"><p>Register</p></a>

                    </div>
                    <div class="about-index">
                        <p>Register or log in to offer and share rides in and out of Reykjavík, Iceland. </p>
                        <i>Skrepp.is was made as a final project in the course Software Project 1 at the University of
                        Iceland. If you have any comments or ideas for this site please send us a line at elr13@hi.is </i>
                        <div>

        </div>


    </div>
{% endblock %}