{% extends 'home/base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="home-wrapper">

                <div class="form-buttons">
                    <h3>Registration form: </h3>
                    <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        {% include 'register/form_template.html' %}
                        <div class="">
                            <input type="submit" value="Register" class="btn btn-success btn-block">
                        </div>
                    </form>
                </div>
                <div class="about-index">
                        <p>Enter your personal information in the form above to be able to share and offer rides on this site. </p>
                        <i>Skrepp.is was made as a final project in the course Software Project 1 at the University of
                        Iceland.  </i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}