{% extends 'home/base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="home-wrapper">

                    <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        {% include 'driver/driverZones.html' %}
                        <input type="submit" value="Drive" class="btn btn-block btn-large btn-success">
                    </form>
                    </div>
                    <div class="about-index">
                        <p>Select the zones you are willing to drive to/from.</p>
                        <i>Skrepp.is was made as a final project in the course Software Project 1 at the University of
                        Iceland. If you have any comments or ideas for this site please send us a line at elr13@hi.is </i>
                        </div>

        </div>


    </div>
    <script>

    list1OnClick = function(zone){
        var pan = document.getElementById("zoneFrom");
        pan.text = zone;
    }
    list2OnClick = function(zone){
        var pan = document.getElementById("zoneTo");
        pan.text = zone;
    }
</script>
{% endblock %}