{% extends 'home/base.html' %}

{% block body %}

        <div class="container-fluid">
            <div class="row">
                <div class="home-wrapper">

                    <div class="form-buttons">
                        <h3>Search Rides: </h3>

                            <form class="form-horizontal" role="form" action="" method="post">
                                {% csrf_token %}
                                {% include 'passenger/search_template.html' %}
                                <input type="submit" value="Search" class="btn btn-block btn-large btn-success">
                            </form>




                        <!-- #TODO put the searchform url instead of register -->
                    </div>
                    <div class="about-index">
                        <p>Select the zones you are and and the zone you want to go to. </p>
                        <i>Skrepp.is was made as a final project in the course Software Project 1 at the University of
                        Iceland. </i>
                    </div>

                 </div>


            </div>
        </div>
{% endblock %}
